ul.nav--center.main-menu
  li.nav__item = link_to t("menu.what"), "/#{I18n.locale}"
  li.nav__item = link_to t("menu.participate"), "/#{I18n.locale}/#{t("paths.participate")}"
  li.nav__item: a href="#" = t("menu.info")
