---
title: East West Dialogue homepage
---

.hero--primary
  .hero__sticky
    = partial "../partials/menu"

  .l-wrap

    .hero__body
      .hero__body__inner
        .hero__logo.icon--logo
        h1.hero__heading = t("project_name")
        p.hero__text = t("title")

.l-wrap
  .grid.space--vertical-padding-5
    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--idea
        h2.widget__title = t("initiative_title")
        p.widget__body = t("initiative_body")

    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--mission
        h2.widget__title = t("why_title")
        p.widget__body = t("why_body")

    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--promote
        h2.widget__title = t("who_title")
        p.widget__body = t("who_body")

    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--when
        h2.widget__title = t("when_title")
        p.widget__body = t("when_body")

.poster--tajmahal
  .l-wrap
    .poster__claim
      p = t("quotes.proportion")

.l-wrap
  .grid.space--vertical-padding-5
    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--location
        h2.widget__title = t("where_title")
        p.widget__body = t("where_body")

    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--mission
        h2.widget__title = t("purpose_title")
        p.widget__body = t("purpose_body")

.poster--temple
  .l-wrap
    .poster__claim
      p = t("quotes.clarification")

.l-wrap
  .grid
    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--news
        h2.widget__title = t("how_title")
        p.widget__body = t("how_body")

    .grid__item.non-portable--6-12
      .widget
        i.widget__icon.icon--organize
        h2.widget__title = t("organization_title")
        p.widget__body = t("organization_body")

