@import 'addons/font-family'

$heading-font-family: "Open Sans", $helvetica
$heading-font-weight: bold

$body-font-family: "Open Sans", $helvetica
$body-font-weight: normal

$monospaced-font-family: $monospace
$monospaced-font-weight: normal

$serif-font-family: Georgia
$serif-font-weight: normal

