.hero
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-color: $light-bg-color
  background-image: url("../images/hero/temple.jpg")
  +background-size(cover)
  position: relative
  min-height: 75vh


.hero__body
  display: table
  width: 100%
  text-align: center

.hero__body__inner
  display: table-cell
  vertical-align: middle
  height: 400px

.hero__heading
  +heading-font-family
  +font-size(30px)
  line-height: 1.2
  text-shadow: 2px 2px #000000
  background-color: rgba($c-black, .3)

.hero__text
  +margin-top(2)
  text-shadow: 2px 2px #000000
  background-color: rgba($c-black, .3)
  +padding(1)

.hero__actions
  +margin-top(2)

.hero--primary
  @extend .hero
  background-color: $primary-color
  color: white

  .hero__text a
    color: white

+at-breakpoint(non-portable)
  .hero__heading,
  .hero__text
    width: 60%
    margin-left: auto
    margin-right: auto

