.hero
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-color: $light-bg-color
  background-image: url("../images/hero/home.jpg")
  +background-size(cover)
  position: relative
  min-height: 85vh

.hero__body
  display: table
  width: 100%
  text-align: center

.hero__logo
  color: $c-white
  font-size: 200px
  background-color: rgba($c-pink, .5)
  padding: 0 20px
  margin-top: 10%
  height: 210px


.hero__body__inner
  display: table-cell
  vertical-align: middle
  height: 400px

.hero__heading
  +heading-font-family
  +font-size(30px)
  line-height: 1.2
  text-shadow: 2px 2px #000000
  // background-color: rgba($c-primary, .5)
  +vertical-padding(2)

.hero__text
  +margin-top(2)
  text-shadow: 2px 2px #000000
  background-color: rgba($c-curry, .5)
  +padding(2)

.hero__actions
  +margin-top(2)

.hero--primary
  @extend .hero
  background-color: $primary-color

.hero--subscribe
  @extend .hero
  min-height: 50vh
  background-image: url("../images/hero/temple.jpg")

.hero--info
  @extend .hero
  min-height: 50vh
  color: $c-white
  background-image: url("../images/hero/sands.jpg")

.hero--subscribe, .hero--primary
  color: white

  .hero__text a
    color: white

+min-screen($tablet)
  .hero__heading,
    +font-size(50px)
  .hero__text
    width: 60%
    margin-left: auto
    margin-right: auto
    +font-size(20px)

